# Configuração do Servidor
PORT=3001

# Configuração do Banco de Dados (PostgreSQL)
# Use estes valores para bater com o docker-compose.yml original
DB_USER=user_tasks
DB_PASSWORD=password_tasks
DB_NAME=tasks_management
DB_HOST=localhost
DB_PORT=5432